<!DOCTYPE html>
<meta charset="utf-8">
<title>News History</title>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<link href="app.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Vollkorn+SC" rel="stylesheet">

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="https://d3js.org/d3.v4.min.js"></script>

<script src="min/bootstrap.js"></script>
<script src="min/angularD3.js"></script>
</head>
<body>
<script type="text/javascript">
  d3.select("body").style("background-color", "#d6f5f5");
  var colors = ["#f4ffff", "#d6f5f5"];
  
  var recolor = function() {
    var c = colors.shift();
    colors.push(c);

    d3.select("body")
      .transition()
      .duration(25000)
      .style("background-color", c)
      .each("end", recolor);
  };

  recolor();
</script>
<div ng-app="app" ng-controller="controller">
  <div class="info-box-wrapper info-box hidden" style="top: 100px; left:200px; display:block; opacity: 0.90">
    <div class="info-box-innerdata">
      <span class="info-box-inner-data-text"></span>
    </div>
  </div>
  <div id="left-panel" class="widget">
    <fieldset>
      <legend class="title">Sources:</legend>
      <br />
      <input  ng-repeat-start="source in sources | orderBy: 'name'" type='radio' name='radio-1' id='radio-{{ $index }}' ng-model='radio.option' value='{{ source.id }}' class="ui-checkboxradio ui-helper-hidden-accessible"> 
      <label for='radio-{{ $index }}' id='{{source.id}}' class="ui-checkboxradio-label ui-corner-all ui-button ui-widget ui-checkboxradio-radio-label" ng-class="{'ui-state-active': $parent.radio.option == source.id }">{{ source.name }}</label>
      <br ng-repeat-end />
    </fieldset>
  </div>
  <div id="top-panel">
    <h1 class="title">News History</h1>
    <input type="text" id="from_datepicker" class="datepicker">
    <input type="text" id="to_datepicker" class="datepicker">
    <span> <a><img src="images/go.png" style="cursor:pointer" ng-click="grabArticlesForSource()"/></a> </span>
    <div ng-if="dateRangeError">
        <span class="error">Start to End date must be 0 - 31 days</span>
    </div>
    <div ng-if="serverError">
        <span class="error">Uh-oh. Something went wrong on our side.</span>
    </div>
  </div>
  <div id="right-panel" style="max-width: 35%">
    &nbsp;
    <img id="expand-draw" src="/expand.png" style="width:20px;height:20px"/>
    <span class="title" >  &nbsp;&nbsp; Reading List &nbsp;&nbsp;</span>
    <div id="bookshelf-container" style="padding-top:1em">
      <ul id="bookshelf"></ul>
    </div>
  </div>
  <div id="container" class="app"></div>
  <div id="footer">
    Powered by <a href="https://newsapi.org/">News API</a> © 2017
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="V2M3DR4FVE5PY">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</div>
</body>
</html>
